
/* -- Large Devices --*/
@media screen and (max-width: 992px) {
    .title{
        font-size: 30px;
    }
    .description{
        width: 80%;
    }
    .description h2{
        font-size: 17px;
}
   .description p{
       font-size: 14px;
   }
   .scrollPrompt h2{
       font-size: 25px;
   }
   .phototitle{
       font-size: 20px;
   }
   .section-1{
       height: 100vh;
   }
   .galleryPost{
       width: 80%;
   }

}

@media screen and (max-width: 992px) {
    .logintitle{
        font-size: 17px;
    }
    .logintitle span{
        font-size: 15px;
    }
    .loginsub{
        font-size: 12px;
    }
    .logininput, .loginbutton, .signupbutton{
        font-size: 11px;
    }
}

/* @media screen and (max-width: 992px) {
  
    .footer{
        display: none;
    }
} */

@media screen and (max-width: 992px) {
    .searchtitle{
        font-size: 25px;

    }
    .searchbutton{
        font-size: 10px;
    }
}
